<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<base th:href="@{/}"><!-- 不用base就使用th:src="@{/js/jquery.min.js} -->
<meta charset="UTF-8">
<title>订单页面</title>
<link rel="stylesheet" href="css/bootstrap.min.css" />
<script src="js/jquery.min.js"></script>

</head>
<body>
<div th:include="user/header"></div>
<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">订单列表</h3>
		</div>
		<div class="panel-body">
			<div class="table table-responsive">
				<table class="table table-bordered table-hover">
					<tbody class="text-center">
						<tr>
							<th>订单编号</th>
							<th>订单金额</th>
							<th>订单状态</th>
							<th>下单时间</th>
							<th>查看详情</th>
						</tr>
						<tr th:each="order:${myOrder}">
							<td th:text="${order.id}"></td>
							<td th:text="${order.amount}"></td>
							<td>
								<span th:if="${order.status} == 0" >
									未支付 &nbsp; <a href="javascript:pay()" >去支付</a>
								</span>
								<span th:if="${order.status} == 1" >
									已支付
								</span>
							</td>
							<td th:text="${order.orderdate}"></td>
							<td>
								<a th:href="'cart/orderDetail/' + ${order.id}" target="_blank">查看详情</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>