<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<base th:href="@{/}"><!-- 不用base就使用th:src="@{/js/jquery.min.js} -->
<meta charset="UTF-8">
<title>注册页面</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<script src="/js/jquery.min.js"></script>
<script src="/js/common.js"></script>

	<script>
		function checkBpwd() {
			if ($("#bpwd").val() != $("#rebpwd").val()) {
				alert("两次密码不一致！");
				return false;
			}
			// document 是指向整个 HTML 文档的对象，它代表了整个页面。
			// myform 是你在 HTML 中定义的表单的 name 属性。
			// .submit() 是表单元素的一个方法，它会触发表单的提交操作。
			document.myform.submit(); // 提交表单
		}

	</script>

<body>
	<div class="container">
	  	<div class="bg-primary"  style="width:70%; height: 60px;padding-top: 1px;">
	       <h3 align="center">用户注册</h3>
	   </div>
		<div th:if="${message}" class="alert alert-warning text-center" role="alert">
			<span th:text="${message}"></span>
		</div>
		<br><br>
		<form action="/user/register" name="myform" method="post" th:object="${bUser}"  class="form-horizontal" role="form" >
			<div class="form-group has-success">
				<label class="col-sm-2 col-md-2 control-label">邮箱</label>
				<div class="col-sm-4 col-md-4">
					<table style="width:100%">
						<tr>
							<td><input type="email" class="form-control"
					 placeholder="请输入您的邮箱"
					th:field="*{bemail}" onblur="checkEmail()"/></td>
					 		<td>
					 			<span id="isExit"></span>
					 		</td>
						</tr>
					</table>
					<span th:errors="*{bemail}"></span>
				</div>
			</div>
	
			<div class="form-group has-success">
				  <label class="col-sm-2 col-md-2 control-label">密码</label>
				  <div class="col-sm-4 col-md-4">
		  				<input type="password" class="form-control"
					 placeholder="请输入您的密码" th:field="*{bpwd}" />
					 <span th:errors="*{bpwd}"></span>
				  </div>
			 </div>
	
			<div class="form-group has-success">
				  <label class="col-sm-2 col-md-2 control-label">确认密码</label>
				  <div class="col-sm-4 col-md-4">
		  				<input type="password" class="form-control"
					 placeholder="请输入您的密码" th:field="*{rebpwd}"/>
				  </div>
			 </div>
	
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" onclick="checkBpwd()" class="btn btn-success">注册</button>
					<button type="reset" class="btn btn-primary" >重置</button>
				</div>
<!--				点击后响应js-->
			</div>
		</form>
	</div>
</body>
</html>