<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<base th:href="@{/}"><!-- 不用base就使用th:src="@{/js/jquery.min.js} -->
<meta charset="UTF-8">
<title>主页</title>
<link rel="stylesheet" href="css/bootstrap.min.css" />

<script src="js/jquery.min.js"></script>
</head>
<body>
	<!-- 加载header.html -->
	<div th:include="user/header"></div>
	<div class="container">
		<div>
			<h4>搜索结果</h4>
		</div>
		<div class="row">
			<div class="col-xs-6 col-md-2" th:each="rGoods:${searchgoods}">
				<a th:href="'goodsDetail?id=' + ${rGoods.id}" class="thumbnail"> <img
					alt="100%x180" th:src="'images/' + ${rGoods.gpicture}"
					style="height: 180px; width: 100%; display: block;">
				</a>
				<div class="caption" style="text-align: center;">
					<div>
						<span th:text="${rGoods.gname}"></span>
					</div>
					<div>
						<span style="color: red;">&yen;
							<span th:text="${rGoods.grprice}"></span>
						</span>
						<span class="text-dark" style="text-decoration: line-through;"> &yen;
							<span th:text="${rGoods.goprice}"></span>
						</span>
					</div>
<!--					<a th:href="'javascript:focus('+ ${rGoods.id} +')'" class="btn btn-primary"-->
<!--						style="font-size: 10px;">加入收藏</a>-->
					<a th:href="@{/cart/focus/{id}(id=${rGoods.id})}" class="btn btn-primary"
					   style="font-size: 10px;">加入收藏</a>

				</div>
			</div>
		</div>
	</div>
</body>
</html>
